<section id="about" class="about section">
  <div class="container">
    <svg class="about-icon" width="48" height="48">
      <use href="../images/icons.svg#electric-bike-icon"></use>
    </svg>
    <h2 class="about-title">
      Meet E-Bike Nova: The Future of Eco-Friendly Urban Transportation
    </h2>
    <p class="about-text">
      E-Bike Nova represents a breakthrough in electric bicycle design, merging
      cutting-edge technology with sleek aesthetics. Our mission is to redefine
      urban commuting by providing a lightweight, high-performance ride that
      prioritizes sustainability and user experience.
    </p>
    <picture>
      <source
        type="image/webp"
        media="(min-width: 1440px)"
        srcset="
          ../images/About_bike/cyclist-riding-desktop.webp    1x,
          ../images/About_bike/cyclist-riding-desktop@2x.webp 2x
        "
      />
      <source
        type="image/webp"
        media="(min-width: 768px)"
        srcset="
          ../images/About_bike/cyclist-riding-tablet.webp    1x,
          ../images/About_bike/cyclist-riding-tablet@2x.webp 2x
        "
      />
      <img
        class="about-img"
        src="../images/About_bike/cyclist-riding-mobile.webp"
        alt="cyclist-riding"
        srcset="
          ../images/About_bike/cyclist-riding-mobile.webp    1x,
          ../images/About_bike/cyclist-riding-mobile@2x.webp 2x
        "
      />
    </picture>
  </div>
</section>
