<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-logo">
        <a class="footer-logo-link" href="./index.html">
          <img
            class="footer-logo-img"
            src="./images/logo.svg"
            alt="E-bike Nova logo"
          />
        </a>
      </div>

      <nav class="footer-links">
        <ul class="footer-list">
          <li class="footer-item">
            <a class="footer-link" href="#home">Home</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#about">About bike</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#benefits">Benefits</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#specs">Specs</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#gallery">Gallery</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#testimonials">Testimonials</a>
          </li>
        </ul>
      </nav>
      <div class="social-links">
        <ul class="social-list">
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Facebook"
            >
              <img
                class="social-icon"
                src="/images/facebook.svg"
                alt="Facebook"
                width="24"
                height="24"
              />
            </a>
          </li>

          <li class="social-item">
            <a
              class="social-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Instagram"
            >
              <img
                class="social-icon"
                src="/images/instagram.svg"
                alt="Instagram"
                width="24"
                height="24"
              />
            </a>
          </li>

          <li class="social-item">
            <a
              class="social-link"
              href="https://x.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="X"
            >
              <img
                class="social-icon"
                src="/images/x.svg"
                alt="X"
                width="24"
                height="24"
              />
            </a>
          </li>

          <li class="social-item">
            <a
              class="social-link"
              href="https://www.youtube.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="YouTube"
            >
              <img
                class="social-icon"
                src="/images/youtube.svg"
                alt="YouTube"
                width="24"
                height="24"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-credits">
      <div class="footer-divider"></div>

      <div class="copyright-row">
        <p class="copyright">© 2025 E-bike Nova. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
