<section id="gallery" class="gallery section">
  <div class="container">
    <h2 class="section-title">Photo Gallery</h2>
    <p class="section-text">Discover the E-Bike Nova in stunning detail.</p>
    <div class="gallery-img">
      <picture>
        <source
          media="(min-width: 1440px)"
          type="image/avif"
          srcset="
            ./img/gallery/securing-battery-desktop.avif    1x,
            ./img/gallery/securing-battery-desktop@2x.avif 2x
          "
        />
        <source
          media="(min-width: 1440px)"
          type="image/webp"
          srcset="
            ./img/gallery/securing-battery-desktop.webp    1x,
            ./img/gallery/securing-battery-desktop@2x.webp 2x
          "
        />
        <source
          media="(min-width: 1440px)"
          type="image/jpg"
          srcset="
            ./img/gallery/securing-battery-desktop.jpg    1x,
            ./img/gallery/securing-battery-desktop@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          type="image/avif"
          srcset="
            ./img/gallery/securing-battery-tablet.avif    1x,
            ./img/gallery/securing-battery-tablet@2x.avif 2x
          "
        />
        <source
          media="(min-width: 768px)"
          type="image/webp"
          srcset="
            ./img/gallery/securing-battery-tablet.webp    1x,
            ./img/gallery/securing-battery-tablet@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          type="image/jpg"
          srcset="
            ./img/gallery/securing-battery-tablet.jpg    1x,
            ./img/gallery/securing-battery-tablet@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          type="image/avif"
          srcset="
            ./img/gallery/securing-battery-mobile.avif    1x,
            ./img/gallery/securing-battery-mobile@2x.avif 2x
          "
        />
        <source
          media="(max-width: 767px)"
          type="image/webp"
          srcset="
            ./img/gallery/securing-battery-mobile.webp    1x,
            ./img/gallery/securing-battery-mobile@2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          type="image/jpg"
          srcset="
            ./img/gallery/securing-battery-mobile.jpg    1x,
            ./img/gallery/securing-battery-mobile@2x.jpg 2x
          "
        />
        <img
          class="gallery-img-big"
          src="./img/gallery/securing-battery-mobile.jpg"
          alt="gallery-image-big"
          loading="lazy"
        />
      </picture>

      <div class="gallery-img-wrapper">
        <picture class="gallery-img-picture-wrapper">
          <source
            media="(min-width: 1440px)"
            type="image/avif"
            srcset="
              ./img/gallery/bike-store-desktop.avif    1x,
              ./img/gallery/bike-store-desktop@2x.avif 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/webp"
            srcset="
              ./img/gallery/bike-store-desktop.webp    1x,
              ./img/gallery/bike-store-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/jpg"
            srcset="
              ./img/gallery/bike-store-desktop.jpg    1x,
              ./img/gallery/bike-store-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/avif"
            srcset="
              ./img/gallery/bike-store-tablet.avif    1x,
              ./img/gallery/bike-store-tablet@2x.avif 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./img/gallery/bike-store-tablet.webp    1x,
              ./img/gallery/bike-store-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/jpg"
            srcset="
              ./img/gallery/bike-store-tablet.jpg    1x,
              ./img/gallery/bike-store-tablet@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/avif"
            srcset="
              ./img/gallery/bike-store-mobile.avif    1x,
              ./img/gallery/bike-store-mobile@2x.avif 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              ./img/gallery/bike-store-mobile.webp    1x,
              ./img/gallery/bike-store-mobile@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/jpg"
            srcset="
              ./img/gallery/bike-store-mobile.jpg    1x,
              ./img/gallery/bike-store-mobile@2x.jpg 2x
            "
          />
          <img
            class="gallery-img-small"
            src="./img/gallery/bike-store-mobile.jpg"
            alt="gallery-image-small"
            loading="lazy"
          />
        </picture>

        <picture class="gallery-img-picture-wrapper">
          <source
            media="(min-width: 1440px)"
            type="image/avif"
            srcset="
              ./img/gallery/sitting-man-desktop.avif    1x,
              ./img/gallery/sitting-man-desktop@2x.avif 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/webp"
            srcset="
              ./img/gallery/sitting-man-desktop.webp    1x,
              ./img/gallery/sitting-man-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/jpg"
            srcset="
              ./img/gallery/sitting-man-desktop.jpg    1x,
              ./img/gallery/sitting-man-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/avif"
            srcset="
              ./img/gallery/sitting-man-tablet.avif    1x,
              ./img/gallery/sitting-man-tablet@2x.avif 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./img/gallery/sitting-man-tablet.webp    1x,
              ./img/gallery/sitting-man-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/jpg"
            srcset="
              ./img/gallery/sitting-man-tablet.jpg    1x,
              ./img/gallery/sitting-man-tablet@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/avif"
            srcset="
              ./img/gallery/sitting-man-mobile.avif    1x,
              ./img/gallery/sitting-man-mobile@2x.avif 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              ./img/gallery/sitting-man-mobile.webp    1x,
              ./img/gallery/sitting-man-mobile@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/jpg"
            srcset="
              ./img/gallery/sitting-man-mobile.jpg    1x,
              ./img/gallery/sitting-man-mobile@2x.jpg 2x
            "
          />
          <img
            class="gallery-img-small"
            src="./img/gallery/sitting-man-mobile.jpg"
            alt="gallery-image-small"
            loading="lazy"
          />
        </picture>

        <picture class="gallery-img-picture-wrapper">
          <source
            media="(min-width: 1440px)"
            type="image/avif"
            srcset="
              ./img/gallery/bike-street-desktop.avif    1x,
              ./img/gallery/bike-street-desktop@2x.avif 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/webp"
            srcset="
              ./img/gallery/bike-street-desktop.webp    1x,
              ./img/gallery/bike-street-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/jpg"
            srcset="
              ./img/gallery/bike-street-desktop.jpg    1x,
              ./img/gallery/bike-street-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/avif"
            srcset="
              ./img/gallery/bike-street-tablet.avif    1x,
              ./img/gallery/bike-street-tablet@2x.avif 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./img/gallery/bike-street-tablet.webp    1x,
              ./img/gallery/bike-street-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/jpg"
            srcset="
              ./img/gallery/bike-street-tablet.jpg    1x,
              ./img/gallery/bike-street-tablet@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/avif"
            srcset="
              ./img/gallery/bike-street-mobile.avif    1x,
              ./img/gallery/bike-street-mobile@2x.avif 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              ./img/gallery/bike-street-mobile.webp    1x,
              ./img/gallery/bike-street-mobile@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/jpg"
            srcset="
              ./img/gallery/bike-street-mobile.jpg    1x,
              ./img/gallery/bike-street-mobile@2x.jpg 2x
            "
          />
          <img
            class="gallery-img-small"
            src="./img/gallery/bike-street-mobile.jpg"
            alt="gallery-image-small"
            loading="lazy"
          />
        </picture>

        <picture class="gallery-img-picture-wrapper">
          <source
            media="(min-width: 1440px)"
            type="image/avif"
            srcset="
              ./img/gallery/cycling-desktop.avif    1x,
              ./img/gallery/cycling-desktop@2x.avif 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/webp"
            srcset="
              ./img/gallery/cycling-desktop.webp    1x,
              ./img/gallery/cycling-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/jpg"
            srcset="
              ./img/gallery/cycling-desktop.jpg    1x,
              ./img/gallery/cycling-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/avif"
            srcset="
              ./img/gallery/cycling-tablet.avif    1x,
              ./img/gallery/cycling-tablet@2x.avif 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./img/gallery/cycling-tablet.webp    1x,
              ./img/gallery/cycling-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/jpg"
            srcset="
              ./img/gallery/cycling-tablet.jpg    1x,
              ./img/gallery/cycling-tablet@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/avif"
            srcset="
              ./img/gallery/cycling-mobile.avif    1x,
              ./img/gallery/cycling-mobile@2x.avif 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              ./img/gallery/cycling-mobile.webp    1x,
              ./img/gallery/cycling-mobile@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/jpg"
            srcset="
              ./img/gallery/cycling-mobile.jpg    1x,
              ./img/gallery/cycling-mobile@2x.jpg 2x
            "
          />
          <img
            class="gallery-img-small"
            src="./img/gallery/cycling-mobile.jpg"
            alt="gallery-image-small"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
