<section id="gallery" class="gallery section">
  <div class="container">
    <h2 class="section-title gallery-title">Photo Gallery</h2>

    <p class="section-text">Discover the E-Bike Nova in stunning detail.</p>

    <ul class="gallery-list">
      <li class="gallery-item gallery-item-big">
        <picture>
          <source
            media="(min-width: 1440px)"
            type="image/avif"
            srcset="
              /img/gallery/securing-battery-desktop.avif    1x,
              /img/gallery/securing-battery-desktop@2x.avif 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/webp"
            srcset="
              /img/gallery/securing-battery-desktop.webp    1x,
              /img/gallery/securing-battery-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/jpeg"
            srcset="
              /img/gallery/securing-battery-desktop.jpg    1x,
              /img/gallery/securing-battery-desktop@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            type="image/avif"
            srcset="
              /img/gallery/securing-battery-tablet.avif    1x,
              /img/gallery/securing-battery-tablet@2x.avif 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              /img/gallery/securing-battery-tablet.webp    1x,
              /img/gallery/securing-battery-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/jpeg"
            srcset="
              /img/gallery/securing-battery-tablet.jpg    1x,
              /img/gallery/securing-battery-tablet@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            type="image/avif"
            srcset="
              /img/gallery/securing-battery-mobile.avif    1x,
              /img/gallery/securing-battery-mobile@2x.avif 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              /img/gallery/securing-battery-mobile.webp    1x,
              /img/gallery/securing-battery-mobile@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/jpeg"
            srcset="
              /img/gallery/securing-battery-mobile.jpg    1x,
              /img/gallery/securing-battery-mobile@2x.jpg 2x
            "
          />

          <img
            class="gallery-img"
            src="/img/gallery/securing-battery-mobile.jpg"
            alt="Installing a battery on an electric bicycle"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="gallery-item gallery-item-small">
        <picture>
          <source
            media="(min-width: 1440px)"
            type="image/avif"
            srcset="
              /img/gallery/bike-store-desktop.avif    1x,
              /img/gallery/bike-store-desktop@2x.avif 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/webp"
            srcset="
              /img/gallery/bike-store-desktop.webp    1x,
              /img/gallery/bike-store-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/jpeg"
            srcset="
              /img/gallery/bike-store-desktop.jpg    1x,
              /img/gallery/bike-store-desktop@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            type="image/avif"
            srcset="
              /img/gallery/bike-store-tablet.avif    1x,
              /img/gallery/bike-store-tablet@2x.avif 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              /img/gallery/bike-store-tablet.webp    1x,
              /img/gallery/bike-store-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/jpeg"
            srcset="
              /img/gallery/bike-store-tablet.jpg    1x,
              /img/gallery/bike-store-tablet@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            type="image/avif"
            srcset="
              /img/gallery/bike-store-mobile.avif    1x,
              /img/gallery/bike-store-mobile@2x.avif 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              /img/gallery/bike-store-mobile.webp    1x,
              /img/gallery/bike-store-mobile@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/jpeg"
            srcset="
              /img/gallery/bike-store-mobile.jpg    1x,
              /img/gallery/bike-store-mobile@2x.jpg 2x
            "
          />

          <img
            class="gallery-img"
            src="/img/gallery/bike-store-mobile.jpg"
            alt="Electric bicycle in a bicycle store"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="gallery-item gallery-item-small">
        <picture>
          <source
            media="(min-width: 1440px)"
            type="image/avif"
            srcset="
              /img/gallery/sitting-man-desktop.avif    1x,
              /img/gallery/sitting-man-desktop@2x.avif 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/webp"
            srcset="
              /img/gallery/sitting-man-desktop.webp    1x,
              /img/gallery/sitting-man-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/jpeg"
            srcset="
              /img/gallery/sitting-man-desktop.jpg    1x,
              /img/gallery/sitting-man-desktop@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            type="image/avif"
            srcset="
              /img/gallery/sitting-man-tablet.avif    1x,
              /img/gallery/sitting-man-tablet@2x.avif 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              /img/gallery/sitting-man-tablet.webp    1x,
              /img/gallery/sitting-man-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/jpeg"
            srcset="
              /img/gallery/sitting-man-tablet.jpg    1x,
              /img/gallery/sitting-man-tablet@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            type="image/avif"
            srcset="
              /img/gallery/sitting-man-mobile.avif    1x,
              /img/gallery/sitting-man-mobile@2x.avif 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              /img/gallery/sitting-man-mobile.webp    1x,
              /img/gallery/sitting-man-mobile@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/jpeg"
            srcset="
              /img/gallery/sitting-man-mobile.jpg    1x,
              /img/gallery/sitting-man-mobile@2x.jpg 2x
            "
          />

          <img
            class="gallery-img"
            src="/img/gallery/sitting-man-mobile.jpg"
            alt="Man standing near an electric bicycle"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="gallery-item gallery-item-small">
        <picture>
          <source
            media="(min-width: 1440px)"
            type="image/avif"
            srcset="
              /img/gallery/bike-street-desktop.avif    1x,
              /img/gallery/bike-street-desktop@2x.avif 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/webp"
            srcset="
              /img/gallery/bike-street-desktop.webp    1x,
              /img/gallery/bike-street-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/jpeg"
            srcset="
              /img/gallery/bike-street-desktop.jpg    1x,
              /img/gallery/bike-street-desktop@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            type="image/avif"
            srcset="
              /img/gallery/bike-street-tablet.avif    1x,
              /img/gallery/bike-street-tablet@2x.avif 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              /img/gallery/bike-street-tablet.webp    1x,
              /img/gallery/bike-street-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/jpeg"
            srcset="
              /img/gallery/bike-street-tablet.jpg    1x,
              /img/gallery/bike-street-tablet@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            type="image/avif"
            srcset="
              /img/gallery/bike-street-mobile.avif    1x,
              /img/gallery/bike-street-mobile@2x.avif 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              /img/gallery/bike-street-mobile.webp    1x,
              /img/gallery/bike-street-mobile@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/jpeg"
            srcset="
              /img/gallery/bike-street-mobile.jpg    1x,
              /img/gallery/bike-street-mobile@2x.jpg 2x
            "
          />

          <img
            class="gallery-img"
            src="/img/gallery/bike-street-mobile.jpg"
            alt="Electric bicycle on a city street"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="gallery-item gallery-item-small">
        <picture>
          <source
            media="(min-width: 1440px)"
            type="image/avif"
            srcset="
              /img/gallery/cycling-desktop.avif    1x,
              /img/gallery/cycling-desktop@2x.avif 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/webp"
            srcset="
              /img/gallery/cycling-desktop.webp    1x,
              /img/gallery/cycling-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/jpeg"
            srcset="
              /img/gallery/cycling-desktop.jpg    1x,
              /img/gallery/cycling-desktop@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            type="image/avif"
            srcset="
              /img/gallery/cycling-tablet.avif    1x,
              /img/gallery/cycling-tablet@2x.avif 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              /img/gallery/cycling-tablet.webp    1x,
              /img/gallery/cycling-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/jpeg"
            srcset="
              /img/gallery/cycling-tablet.jpg    1x,
              /img/gallery/cycling-tablet@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            type="image/avif"
            srcset="
              /img/gallery/cycling-mobile.avif    1x,
              /img/gallery/cycling-mobile@2x.avif 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              /img/gallery/cycling-mobile.webp    1x,
              /img/gallery/cycling-mobile@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/jpeg"
            srcset="
              /img/gallery/cycling-mobile.jpg    1x,
              /img/gallery/cycling-mobile@2x.jpg 2x
            "
          />

          <img
            class="gallery-img"
            src="/img/gallery/cycling-mobile.jpg"
            alt="Man riding an electric bicycle"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
