<header class="header">
  <div class="container header-container">
    <div class="logo-wrapper">
      <a href="/index.html" class="logo">
        <svg class="logo-icon" width="72" height="54">
          <use href="/images/icons.svg#company-logo-icon"></use>
        </svg>
      </a>
    </div>

    <nav class="navigation">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a href="/index.html" class="navigation-link">Home</a>
        </li>
        <li class="navigation-item">
          <a href="#about-bike" class="navigation-link">About bike</a>
        </li>
        <li class="navigation-item">
          <a href="#benefits" class="navigation-link">Benefits</a>
        </li>
        <li class="navigation-item">
          <a href="#specs" class="navigation-link">Specs</a>
        </li>
        <li class="navigation-item">
          <a href="#gallery" class="navigation-link">Gallery</a>
        </li>
        <li class="navigation-item">
          <a href="#testimonials" class="navigation-link">Testimonials</a>
        </li>
      </ul>
    </nav>

    <button class="burger-button">
      <svg class="burger-icon" width="32" height="32">
        <use href="/images/icons.svg#menu-icon"></use>
      </svg>
    </button>
  </div>
</header>
