<div class="mobile-menu-backdrop">
  <div class="container mobile-menu-container">
    <div class="mobile-menu-top">
      <a href="/index.html" class="logo mobile-menu-logo">
        <svg class="logo-icon" width="72" height="54">
          <use href="/img/icons.svg#company-logo-icon"></use>
        </svg>
      </a>

      <button
        type="button"
        class="mobile-menu-close-btn"
        aria-label="Close menu"
      >
        <svg width="32" height="32" aria-hidden="true">
          <use href="/img/icons.svg#close-icon"></use>
        </svg>
      </button>
    </div>

    <nav>
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
          <a href="#home" class="mobile-menu-link">Home</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#about" class="mobile-menu-link">About bike</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#benefits" class="mobile-menu-link">Benefits</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#specs" class="mobile-menu-link">Specs</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#gallery" class="mobile-menu-link">Gallery</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#testimonials" class="mobile-menu-link">Testimonials</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
