<section id="price" class="price">
  <div class="container price-container">
    <picture class="price-img-thumb">
      <source
        media="(min-width: 1440px)"
        type="image/avif"
        srcset="
          /img/price/urban-cyclist-desktop.avif    1x,
          /img/price/urban-cyclist-desktop@2x.avif 2x
        "
      />

      <source
        media="(min-width: 1440px)"
        type="image/webp"
        srcset="
          /img/price/urban-cyclist-desktop.webp    1x,
          /img/price/urban-cyclist-desktop@2x.webp 2x
        "
      />

      <source
        media="(min-width: 1440px)"
        type="image/jpeg"
        srcset="
          /img/price/urban-cyclist-desktop.jpg    1x,
          /img/price/urban-cyclist-desktop@2x.jpg 2x
        "
      />

      <source
        media="(min-width: 768px)"
        type="image/avif"
        srcset="
          /img/price/urban-cyclist-tablet.avif    1x,
          /img/price/urban-cyclist-tablet@2x.avif 2x
        "
      />

      <source
        media="(min-width: 768px)"
        type="image/webp"
        srcset="
          /img/price/urban-cyclist-tablet.webp    1x,
          /img/price/urban-cyclist-tablet@2x.webp 2x
        "
      />

      <source
        media="(min-width: 768px)"
        type="image/jpeg"
        srcset="
          /img/price/urban-cyclist-tablet.jpg    1x,
          /img/price/urban-cyclist-tablet@2x.jpg 2x
        "
      />

      <source
        type="image/avif"
        srcset="
          /img/price/urban-cyclist-mobile.avif    1x,
          /img/price/urban-cyclist-mobile@2x.avif 2x
        "
      />

      <source
        type="image/webp"
        srcset="
          /img/price/urban-cyclist-mobile.webp    1x,
          /img/price/urban-cyclist-mobile@2x.webp 2x
        "
      />

      <img
        class="price-img"
        srcset="/img/price/urban-cyclist-mobile@2x.jpg 2x"
        src="/img/price/urban-cyclist-mobile.jpg"
        alt="hero-image"
        loading="lazy"
      />
    </picture>
    <div class="price-content-wrapper">
      <h2 class="section-title price-title">E-bike Nova</h2>
      <p class="price-text">$1499</p>
      <p class="price-description">
        The E-Bike Nova redefines urban commuting with its innovative design and
        powerful performance. Experience the thrill of a smooth ride while
        contributing to a greener planet.
      </p>
      <ul class="price-list">
        <li class="price-item">Lightweight and high-performance</li>
        <li class="price-item">Eco-friendly commuting solution</li>
        <li class="price-item">Long-range battery life</li>
      </ul>

      <button type="button" class="price-button" data-order-modal-open>
        Buy Now
      </button>
    </div>
  </div>
</section>
