<section id="specs" class="specs section">
  <div class="container specs-container">
    <div class="specs-text-wrapper">
      <h3 class="specs-subtitle">Precision</h3>
      <h2 class="section-title specs-title">
        E-Bike Nova: Power Meets Performance
      </h2>
      <p class="specs-text">
        Discover the cutting-edge specifications of the E-Bike Nova. Engineered
        for speed and efficiency, it redefines your riding experience.
      </p>
      <ul class="specs-list">
        <li class="specs-item">
          <h3 class="specs-item-title">Specifications</h3>
          <p class="specs-item-text">
            Range: Up to 100 miles on a single charge.
          </p>
        </li>
        <li class="specs-item">
          <h3 class="specs-item-title">Performance</h3>
          <p class="specs-item-text">
            Max Speed: Reach up to 28 mph effortlessly.
          </p>
        </li>
      </ul>
    </div>
    <picture>
      <!-- Desktop 1440 -->
      <source
        media="(min-width: 1440px)"
        type="image/avif"
        srcset="
          ./img/specs/urban-cyclist-desktop.avif    1x,
          ./img/specs/urban-cyclist-desktop@2x.avif 2x
        "
      />
      <source
        media="(min-width: 1440px)"
        type="image/webp"
        srcset="
          ./img/specs/urban-cyclist-desktop.webp    1x,
          ./img/specs/urban-cyclist-desktop@2x.webp 2x
        "
      />

      <source
        media="(min-width: 1440px)"
        type="image/jpg"
        srcset="
          ./img/specs/urban-cyclist-desktop.jpg    1x,
          ./img/specs/urban-cyclist-desktop@2x.jpg 2x
        "
      />

      <!-- Tablet -->
      <source
        media="(min-width: 768px)"
        type="image/avif"
        srcset="
          ./img/specs/urban-cyclist-tablet.avif    1x,
          ./img/specs/urban-cyclist-tablet@2x.avif 2x
        "
      />
      <source
        media="(min-width: 768px)"
        type="image/webp"
        srcset="
          ./img/specs/urban-cyclist-tablet.webp    1x,
          ./img/specs/urban-cyclist-tablet@2x.webp 2x
        "
      />

      <source
        media="(min-width: 768px)"
        type="image/jpg"
        srcset="
          ./img/specs/urban-cyclist-tablet.jpg    1x,
          ./img/specs/urban-cyclist-tablet@2x.jpg 2x
        "
      />

      <!-- Mobile -->
      <source
        media="(max-width: 767px)"
        type="image/avif"
        srcset="
          ./img/specs/urban-cyclist-mobile.avif    1x,
          ./img/specs/urban-cyclist-mobile@2x.avif 2x
        "
      />
      <source
        media="(max-width: 767px)"
        type="image/webp"
        srcset="
          ./img/specs/urban-cyclist-mobile.webp    1x,
          ./img/specs/urban-cyclist-mobile@2x.webp 2x
        "
      />

      <source
        media="(max-width: 767px)"
        type="image/jpg"
        srcset="
          ./img/specs/urban-cyclist-mobile.jpg    1x,
          ./img/specs/urban-cyclist-mobile@2x.jpg 2x
        "
      />

      <!-- Fallback -->
      <img
        src="./img/specs/urban-cyclist-mobile.jpg"
        alt="Person standing next to a blue E-Bike Nova"
        loading="lazy"
        class="specs-image"
      />
    </picture>
  </div>
</section>
