@media screen {
  .about-container {
    padding-top: 72px;
    padding-bottom: 64px;
  }
  .about-icon {
    position: absolute;
    bottom: calc(100% + 24px);
    left: 0px;
    width: 48px;
    height: 48px;
  }
  .about-title {
    font-size: 32px;
  }
  .about-title {
    position: relative;
    padding-top: 72px;
  }

  .about-title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    background-color: #080303;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 33 32'%3E%3Cpath d='M6.514 22.714q-2.727 0-4.621-1.91c-1.894-1.91-1.894-2.819-1.894-4.637q0-2.707 1.917-4.611c1.917-1.904 2.821-1.903 4.63-1.903q2.343 0 4.151 1.517c1.808 1.517 1.935 2.294 2.189 3.85h1.596l-2.701-7.638h-1.402q-.445 0-.746-.299c-.301-.299-.301-.451-.301-.754q0-.454.298-.748c.298-.294.448-.294.75-.294h4.259q.446 0 .746.309c.3.309.301.467.301.784a.97.97 0 0 1-1 1.002h-.709l.84 2.271h7.212l-2.343-6.271h-2.42q-.445 0-.747-.299c-.302-.299-.301-.451-.301-.754q0-.454.298-.748c.298-.294.45-.294.753-.294h2.246q.819 0 1.386.374c.567.374.655.625.834 1.125l2.519 6.867h1.232q2.709 0 4.612 1.886c1.903 1.886 1.903 2.781 1.903 4.57q0 2.716-1.886 4.653c-1.886 1.937-2.8 1.937-4.628 1.937q-2.396 0-4.209-1.592c-1.813-1.592-1.951-2.392-2.223-3.992h-6.166q-.381 2.4-2.169 4c-1.788 1.6-2.594 1.6-4.204 1.6zm0-2.095q1.561 0 2.723-1.007c1.162-1.007 1.296-1.503 1.564-2.498H7.914q-.445 0-.746-.299c-.301-.299-.301-.451-.301-.754q0-.454.298-.748c.298-.294.448-.294.75-.294h2.903q-.408-1.452-1.589-2.362c-1.181-.91-1.681-.91-2.68-.91q-1.842 0-3.151 1.289c-1.309 1.289-1.309 1.901-1.309 3.127q0 1.853 1.292 3.155c1.292 1.302 1.906 1.301 3.135 1.301zm10.15-5.6h2.423q.126-.743.501-1.648c.375-.905.587-1.145 1.01-1.623h-5.053zm8.822 5.6q1.842 0 3.135-1.301c1.293-1.301 1.292-1.918 1.292-3.151q0-1.842-1.284-3.123c-1.284-1.281-1.882-1.283-3.079-1.288h-.517l.935 2.762q.133.383-.041.766c-.174.383-.324.441-.624.557q-.383.141-.749-.048c-.366-.189-.422-.318-.533-.577l-1.084-2.77q-.941.564-1.405 1.575c-.464 1.011-.464 1.389-.464 2.144q0 1.852 1.29 3.153c1.29 1.301 1.903 1.301 3.129 1.301zm-8.221 7.556v1.628q0 .313-.269.475c-.269.162-.369.116-.568.022l-5.662-2.877q-.2-.108-.152-.324c.048-.216.121-.215.266-.215h3.803v-1.662q0-.305.265-.472c.265-.167.367-.117.572-.017l5.796 2.911q.19.107.133.318c-.057.211-.133.212-.282.212z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 33 32'%3E%3Cpath d='M6.514 22.714q-2.727 0-4.621-1.91c-1.894-1.91-1.894-2.819-1.894-4.637q0-2.707 1.917-4.611c1.917-1.904 2.821-1.903 4.63-1.903q2.343 0 4.151 1.517c1.808 1.517 1.935 2.294 2.189 3.85h1.596l-2.701-7.638h-1.402q-.445 0-.746-.299c-.301-.299-.301-.451-.301-.754q0-.454.298-.748c.298-.294.448-.294.75-.294h4.259q.446 0 .746.309c.3.309.301.467.301.784a.97.97 0 0 1-1 1.002h-.709l.84 2.271h7.212l-2.343-6.271h-2.42q-.445 0-.747-.299c-.302-.299-.301-.451-.301-.754q0-.454.298-.748c.298-.294.45-.294.753-.294h2.246q.819 0 1.386.374c.567.374.655.625.834 1.125l2.519 6.867h1.232q2.709 0 4.612 1.886c1.903 1.886 1.903 2.781 1.903 4.57q0 2.716-1.886 4.653c-1.886 1.937-2.8 1.937-4.628 1.937q-2.396 0-4.209-1.592c-1.813-1.592-1.951-2.392-2.223-3.992h-6.166q-.381 2.4-2.169 4c-1.788 1.6-2.594 1.6-4.204 1.6zm0-2.095q1.561 0 2.723-1.007c1.162-1.007 1.296-1.503 1.564-2.498H7.914q-.445 0-.746-.299c-.301-.299-.301-.451-.301-.754q0-.454.298-.748c.298-.294.448-.294.75-.294h2.903q-.408-1.452-1.589-2.362c-1.181-.91-1.681-.91-2.68-.91q-1.842 0-3.151 1.289c-1.309 1.289-1.309 1.901-1.309 3.127q0 1.853 1.292 3.155c1.292 1.302 1.906 1.301 3.135 1.301zm10.15-5.6h2.423q.126-.743.501-1.648c.375-.905.587-1.145 1.01-1.623h-5.053zm8.822 5.6q1.842 0 3.135-1.301c1.293-1.301 1.292-1.918 1.292-3.151q0-1.842-1.284-3.123c-1.284-1.281-1.882-1.283-3.079-1.288h-.517l.935 2.762q.133.383-.041.766c-.174.383-.324.441-.624.557q-.383.141-.749-.048c-.366-.189-.422-.318-.533-.577l-1.084-2.77q-.941.564-1.405 1.575c-.464 1.011-.464 1.389-.464 2.144q0 1.852 1.29 3.153c1.29 1.301 1.903 1.301 3.129 1.301zm-8.221 7.556v1.628q0 .313-.269.475c-.269.162-.369.116-.568.022l-5.662-2.877q-.2-.108-.152-.324c.048-.216.121-.215.266-.215h3.803v-1.662q0-.305.265-.472c.265-.167.367-.117.572-.017l5.796 2.911q.19.107.133.318c-.057.211-.133.212-.282.212z'/%3E%3C/svg%3E");
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
  }
  .about-text {
    font-size: 18px;
    font-weight: 400;
  }
  .about-section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .about-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

/* -----------TABLET--------------- */

@media screen and (min-width: 768px) {
  .about-container {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .about-section-wrapper {
    flex-direction: row;
  }
  .about-content {
    width: calc((100% - 24px) / 2);
  }
}
/* +++++++++++++DESKTOP++++++++++++++ */

@media screen and (min-width: 1440px) {
  .about-container {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .about-title {
    font-size: 40px;
  }
  .about-section-wrapper {
    align-items: center;
  }
  .about-content {
    width: calc((100% - 32px) / 2);
  }
}
