.container {
  min-width: 320px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}
/* +++++++++++++++++++TABLET+++++++++++++++ */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* ------------------DESKTOP--------------- */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
