.gallery-title {
  margin-bottom: 24px;

  text-align: center;
}

.section-text {
  margin-bottom: 32px;

  font-size: 18px;

  text-align: center;
}

.gallery-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.gallery-big-item {
  width: 100%;
}

.gallery-img-big {
  width: 100%;
  border-radius: 8px;
}

.gallery-small-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.gallery-small-list-item {
  width: calc((100% - 16px) / 2);
}

.gallery-img-small {
  width: 100%;
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .gallery-list {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .gallery-big-item {
    width: calc((100% - 24px) / 2);
  }

  .gallery-small-item {
    width: calc((100% - 24px) / 2);
  }

  .gallery-small-list {
    gap: 24px;
  }

  .gallery-small-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1440px) {
  .section-text {
    margin-bottom: 80px;
  }

  .gallery-list {
    gap: 32px;
  }

  .gallery-big-item {
    width: calc((100% - 32px) / 2);
  }

  .gallery-small-item {
    width: calc((100% - 32px) / 2);
  }

  .gallery-small-list {
    gap: 32px;
  }

  .gallery-small-list-item {
    width: calc((100% - 32px) / 2);
  }
}
