.gallery-title {
  margin-bottom: 24px;
  text-align: center;
}

.section-text {
  margin-bottom: 32px;
  font-size: 18px;
  text-align: center;
}

.gallery-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.gallery-item-big {
  width: 100%;
}

.gallery-item-small {
  width: calc((100% - 16px) / 2);
}

.gallery-item picture {
  display: block;
  width: 100%;
}

.gallery-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .gallery-list {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    height: calc((100vw - 64px - 24px) / 2);
    max-height: 340px;
  }

  .gallery-item-big {
    width: calc((100% - 24px) / 2);
    height: 100%;
  }

  .gallery-item-small {
    width: calc((100% - 72px) / 4);
    height: calc((100% - 24px) / 2);
  }

  .gallery-item picture {
    height: 100%;
  }

  .gallery-img {
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (min-width: 1440px) {
  .section-text {
    margin-bottom: 80px;
  }

  .gallery-list {
    gap: 32px;
    height: calc((100vw - 128px - 32px) / 2);
    max-height: 640px;
  }

  .gallery-item-big {
    width: calc((100% - 32px) / 2);
  }

  .gallery-item-small {
    width: calc((100% - 96px) / 4);
    height: calc((100% - 32px) / 2);
  }
}
