.order-modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  align-items: center;
  justify-content: center;

  padding: 64px 20px;
  overflow-y: auto;

  background-color: rgba(0, 0, 0, 0.25);
}

.order-modal-backdrop.is-modal-open {
  display: flex;
}

.order-modal {
  position: relative;
  width: 100%;
  padding: 64px 20px 20px;

  border-radius: 8px;
  background-color: #fafbff;
}

.order-modal-close-btn {
  position: absolute;
  top: 16px;
  right: 9px;

  background-color: transparent;
}

.order-modal-close-btn:hover,
.order-modal-close-btn:focus {
  opacity: 0.7;
}

.order-modal-close-btn:active {
  opacity: 0.5;
}

.order-modal-close-btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.order-modal-title {
  margin-bottom: 24px;
  text-align: center;
}

.order-modal-label {
  display: block;
  margin-bottom: 8px;
}

.order-modal-input {
  width: 100%;
  margin-bottom: 24px;
  padding: 8px 12px;

  border: 2px solid #080303;
  border-radius: 6px;
  background-color: transparent;

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  color: #080303;
}

.order-modal-input::placeholder {
  color: rgba(8, 3, 3, 0.6);
}

.order-modal-textarea {
  display: block;
  height: 180px;
  padding: 12px;
  resize: vertical;
}

.order-modal-form.is-validated .order-modal-input:invalid {
  border-color: #e5484d;
}

.order-modal-form.is-validated .order-modal-input:valid {
  border-color: #1e8e3e;
}

.order-modal-submit-btn {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 11px 23px;

  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  border-radius: 6px;
  border: 1px solid #4175ef;

  background-color: #4175ef;

  transition:
    color 250ms linear,
    background-color 250ms linear,
    border-color 250ms linear;
}

.order-modal-submit-btn:focus {
  background-color: #fafbff;
  color: #080303;
  border-color: #080303;
}

.order-modal-submit-btn:active {
  background-color: #345dbf;
  color: #fff;
  border-color: #4175ef;
}

/* -----------TABLET--------------- */
@media screen and (min-width: 768px) {
  .order-modal-backdrop {
    padding: 64px 32px;
  }

  .order-modal {
    padding: 64px 32px;
  }

  .order-modal-close-btn {
    right: 16px;
  }

  .order-modal-submit-btn {
    width: 337px;
  }
}

/* +++++++++++++DESKTOP++++++++++++++ */
@media screen and (min-width: 1440px) {
  .order-modal-backdrop {
    padding: 64px;
  }

  .order-modal {
    width: 864px;
    padding: 64px;
  }

  .order-modal-submit-btn {
    width: 416px;
  }

  .order-modal-submit-btn:hover {
    background-color: #fafbff;
    color: #080303;
    border-color: #080303;
  }
}
