.specs-subtitle {
    margin-bottom: 16px;
    color: #080303;
}

.specs-title {
    margin-bottom: 24px;
    font-size: 36px;
    color: #080303;
}

.specs-text {
    margin-bottom: 32px;
    font-size: 18px;
    color: #080303;
}

.specs-list {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.specs-item {
    flex-basis: calc((100% - 16px) / 2);
}


.specs-item-title {
    margin-bottom: 16px;
    font-family: var(--second-family);
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: #080303;
}

.specs-item-text {
    color: #080303;
}

@media screen and (min-width:768px) {
    .specs-container {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .specs-text-wrapper {
        width: 340px;
    }

    .specs-list {
        gap: 24px;
        margin-bottom: 0;
    }

    .specs-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}


@media screen and (min-width:1440px) {

    .specs-container {
        gap: 32px;
    }

    .specs-text-wrapper {
        width: 640px;
    }

    .specs-title {
        font-size: 48px;
    }

    .specs-item-title {
        font-size: 20px;
    }
}